DB_USER=YOUR POSTGRES USER NAME
DB_PASS=YOUR POSTGRES PASSWROD
DB_HOST=YOUR HOST (most likely localhost)
DB_PORT=PORT NUMBER (default 5432)
DB_NAME=YOUR DATABASE NAME
SEC_IDENTITY=Your Name your.email@example.com
GMAIL_USER= Your gmail that you will send reports to
GMAIL_APP_PASS= APP password to gmail (not your regular gmail password) (remember to remove spacebars)
 
